<div class="row">
  <div class="col-sm-4 col-md-offset-1">
    <h3>Listen to Sales Pitches</h3>
    <p>Earn cash by listening to pitches.</p>
    <div>
      <%= link_to(image_tag('siwli.png'), '/oauth2?account=customer') %>
    </div>
  </div>
  <div class="col-sm-4">
    <h3>Make Sales Pitches</h3>
    <p>Stop cold calling and pitch to people that listen.</p>
    <div>
      <%= link_to(image_tag('siwli.png'), '/oauth2?account=sales') %>
    </div>
  </div>
</div>
