<div class="row">
  <div class="col-sm-4 col-md-offset-1">
    <h3>Enterprise Decision Makers</h3>
    <p>We scan your linkedin profile and tell you an approx $ amount you'll get paid for listening to pitches.</p>
  </div>
  <div class="col-sm-4">
    <h3>Enterprise Salesperson</h3>
    <p>Join for free and pay per lead.</p>
  </div>
</div>
