<div class="container" style="">

  <div class="row" style="margin: 30px 0 0 0;">
    <div class="col-sm-4" style="padding: 10px;">
      <%= image_tag 'logo.png', width: 70, height: 70 %>
      <span style="font-weight: bold; font-size: 24px; margin: 0 0 0 10px;">Hello, Pitch.</span>
    </div>
    <div class="col-sm-5">
      <p class="lead">
      Earn cash just by listening to sales pitches from friendly professionals!
      </p>
    </div>
  </div>

  <hr class="half-rule">

  <div class="row">
    <div class="col-sm-4 col-md-offset-1">
      <h3>Enterprise Decision Makers</h3>
      <p>We scan your linkedin profile and tell you an approx $ amount you'll get paid for listening to pitches.</p>
    </div>
    <div class="col-sm-4">
      <h3>Enterprise Salesperson</h3>
      <p>Join for free and pay per lead.</p>
    </div>
  </div>

  <script type="in/Login">
    Hello, <?js= firstName ?> <?js= lastName ?>.
  </script>

</div>

