<div class="container">
  <h2 class="">Hello, Pitch.</h2>
  <p class="lead">We end cold calling as you know it. Using linkedin to validate people and pay them to listen to sales pitches, we solve your sales problems.</p>

  <hr class="half-rule">

  <div class="row">
    <div class="col-sm-4">
      <h3>Enterprise Decision Makers</h3>
      <p>We scan your linkedin profile and tell you an approx $ amount you'll get paid for listening to pitches.</p>
    </div>
    <div class="col-sm-4">
      <h3>Enterprise Salesperson</h3>
      <p>Join for free and pay per lead.</p>
    </div>
    <div class="col-sm-4">
      <h3>Cold Calling</h3>
      <p>Can we all agree that Cold Calling might work, but there must be a better way?</p>
    </div>
  </div>

</div>

