<div class="row">
  <div class="col-sm-4 col-md-offset-1">
    <h3>Welcome!</h3>
    <p>We are glad you are here. HelloPitch is a community of professionals trying to
    put an end to cold calling. Everyone here has to do their part to make the system work.</p>
  </div>
  <div class="col-sm-4">
    customer
  </div>
</div>
