<div class="row">
  <div class="col-sm-4 col-md-offset-1">
    <%= render :partial => 'menu' %>
  </div>
  <div class="col-sm-4">
    <% if session[:sales_mode] %>
      <div style="margin: 10px 0 0 0;">
        &bull; People who work for 50-200 person companies.
      </div>
      <div style="margin: 10px 0 0 0;">
        &bull; In sectors: Healthcare, Manufacturing
      </div>
      <div style="margin: 10px 0 0 0;">
        &bull; In countries: USA, Canada
      </div>
      <div style="margin: 10px 0 5px 0; color: #898989">
        45,345 people match. You have talked with 37 of them.
      </div>
      <div style="margin: 10px 0 5px 0; color: #898989; text-align: center;">
        <form method="post" action="<%=sales_targets_mode_path%>">
        <button type="submit" class="btn btn-success"> Turn Pitch Mode ON </button>
        </form>
  <br/>
  (be ready to pitch, and turn off pitch mode when you need a break.)
      </div>
    <% else %>
      <div style="margin: 10px 0 5px 0; color: #898989; text-align: center;">
        <form method="post" action="<%=sales_targets_mode_path%>">
        <button type="submit" class="btn btn-danger"> Turn Pitch Mode OFF </button>
        </form>
      </div>

      <div id="call-info" style="margin: 10px 0 10px 0; color: #898989; text-align: center;">
        You have <span id="seconds">60</span> seconds to call...
      </div>

      <div style="border: 1px solid #CECECE; padding: 5px;">
        <div style="margin: 0px 0 0px 0; color: rgb(64,117,180); font-size: 18px;">
          Michael Smithertime
        </div>
        <div style="margin: 0px 0 0px 0; color: #454545; font-size: 13px;">
          Technical Engineer at Sandhill Systems
        </div>
        <div style="margin: 0px 0 5px 0; color: #898989; font-size: 13px;">
          Greater Los Angeles Area
        </div>
        <div style="margin: 0px 0 5px 0; color: #898989; font-size: 13px;">
          <a href="tel:+13105551234">310-555-1234</a>
        </div>
      </div>
      <div id="call-controls" style="margin: 15px 0 5px 0; color: #898989; text-align: center;">
        <button type="button" onClick="startCall();" class="btn btn-default">I'm Dialing</button>
        &nbsp;
        &nbsp;
        or
        &nbsp;
        &nbsp;
        <a href="">skip this one</a>
      </div>
      <script>
        var count = 60;

        function startCall() {
          $('#call-info')[0].innerHTML = 'CALL IN PROGRESS';
          $('#call-controls')[0].innerHTML = '<button type="button" class="btn btn-default">Call is Done</button>';
        }

        callthis = function() {
          count--;
          $('#seconds')[0].innerHTML = count;
          if (count > 0) {
            setTimeout(callthis, 1000);
          }
        }

        setTimeout(callthis, 1000);

      </script>
    <% end %>

  </div>
</div>

