<div class="row">
  <div class="col-sm-4 col-md-offset-1">
    <%= render :partial => 'menu' %>
  </div>
  <div class="col-sm-4">
    <div style="margin: 10px 0 0 0;">
      &bull; People who work for 50-200 person companies.
    </div>
    <div style="margin: 10px 0 0 0;">
      &bull; In sectors: Healthcare, Manufacturing
    </div>
    <div style="margin: 10px 0 0 0;">
      &bull; In countries: USA, Canada
    </div>
    <div style="margin: 10px 0 5px 0; color: #898989">
      45,345 people match. You have talked with 37 of them.
    </div>
    <div style="margin: 10px 0 5px 0; color: #898989; text-align: center;">
      <button type="button" class="btn btn-success"> Turn Pitch Mode ON </button>
<br/>
<br/>
(be ready to pitch, and turn off pitch mode when you need a break.)
    </div>


  </div>
</div>
